<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <h2>{{>navbar}} </h2>
    <section class="section2">
        <h2>{{title}}</h2>
    <input type="search" placeholder="Search">
    <div class="items">
     <div class="item">
        <img src={{product1}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="" >
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product2}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product3}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div> 
 <div class="item">
        <img src={{product1}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product2}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product3}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product1}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>
<div class="item">
        <img src={{product2}} alt="">
        <div class="detail">
            <h4 class="name">product 1</h4>
            <p class="price">7$</p>
           <div class="addcart">
            <p>add to cart</p>
            <img src={{cart}} alt="">
           </div> 
        </div>
     </div>

    </div>
    
    </section>
    <h2>{{>footer}}</h2>
</body>
</html>